[defaults]
inventory = ./inventory.ini
roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
host_key_checking = False
interpreter_python = auto_silent
local_tmp = /tmp/.ansible-local
remote_tmp = /var/tmp
stdout_callback = yaml
retry_files_enabled = False

[ssh_connection]
pipelining = True
